.spinner {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -7rem;
  width: 3rem;
  height: 3rem;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 8rem;
  border-radius: 50%;
  border: 6px solid #673ab7;
  border-color: #673ab7 transparent #673ab7 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
