.card {
  margin: 0 auto;

  opacity: 0;
  transform: scale(80%);
  transition: 2s;
}

.card__visible {
  margin: 0 auto;
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}

@media (max-width: 34em) {
  .card,
  .card__visible {
    margin: 0 -20%;
  }
}
